*.ap_
*.apk
*.class
*.dex
*.iml
*.ipr
*.iws
*.swp
*_
/local.properties
.DS_Store
.classpath
.idea/
.project
/*.iml
/*.properties
/.classpath
/.idea
/.project
/build.xml
/nbandroid/
/proguard.cfg
/proguard_logs/
Thumbs.db
bin/
gen/
out/
/proguard-project.txt
proguard/
build/
