/* vim: set et sw=4 ts=4 sts=4 ft=css fdm=marker ff=unix fenc=utf8 nobomb: */
/**
 * @author mingcheng<lucky#gracecode.com>
 * @date   2013-11-12
 * @link   http://www.gracecode.com/
 */

body {
    background: #575757;
}

img {
    max-width: 100%;
    min-width: 75%;
    display: block;
    margin: 0 auto;
}

